# Core functionality - changes here should be rare!
/src/app.py                   @EhmeeUd
/src/backend/database.py      @EhmeeUd
/src/backend/routers/auth.py  @EhmeeUd

# The frontend will need refactored soon to be more object oriented.
/src/static/   @EhmeeUd
